.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;


}
*{
  padding: 0;
  margin : 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height:100vh;
  /* background-image: url(../public/Background-img.jpg); */
  /* background-size:100% 100%; */
  background-size: 100% 100%;
  background-position: center;
  color: white;
  /* font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; */
}

/* test starts */

:root{
  --bg-color : #222327;
  --text-color : #fff;
  --main-color: #29fdb3;
}
/* test ends */

.container{
  height: 100vh;
  display: flex;
  justify-content:space-between;
  align-items:center;
  border: 2px  darkslateblue;
}

.images{
  height: 300px;
  width: 400px;
  padding: 20px;
}

.img{
  width: 100%;
  height: 500px;
  object-fit: cover
}

a:hover{
  color: purple;
}



/* .navbar{
  width:100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 #weblogo{
font-size: 1.7rem;
font-weight: bold;
color: darkred;
}

.home{
  color: black;
  text-decoration: none;
}

.funny{
  color: lavenderblush;
  text-decoration: none;
  padding-left: 150px;
}
.cooking{
  color: lavenderblush;
  text-decoration: none;
  
}
.lifestyle{ 
  color: lavenderblush;
  text-decoration: none;
}
.authentication{
  color: lavenderblush; 
  text-decoration: none;
  padding-right: 40px;
} */



.HomeContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  justify-content: center;
  color: white;
  gap: 30px;
  
}
.HomeSlider{
  background-color:rgba(255, 240, 245, 0.201);
  color: black;
  /* padding-top: 200px;
  padding-left: 10px; */
  padding:10px;
  /* position: ; */
  border-radius: 10px  ;
  border: 2px solid rgba(128, 128, 128, 0.942);
  
}


.footer{
  text-align: center;
  color: lightgoldenrodyellow;
} 

.funny-container{
  /* display: flex;
  justify-content: center;
  height: 100vh; */
  /* margin: 40px;
  text-align: center; */
  height: 100vh;
  /* background-image: url(../public/Entertainment_img.jpg);
  background-size: cover;
background-repeat: no-repeat;
background-position: center; */

}

.pagination-container{
  height: 400px;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  /* padding:0 10px 0px 10px; */

}

.pagination1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination1 button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: black;
  border-color: #eee;
}

.pagination1 button.active {
  font-weight: 900;
  border-color: #101010;
  background: rgba(128, 128, 128, 0.659);
  color: #101010;
}

.cooking-container{
  height: 100vh;
/* background-image: url(../public/Cooking_img.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center; */
}

.lifestyle-container{
  height: 100vh;
  /* background-image: url(../public/Lifestyle_img.jpg);
  background-size: cover;
background-repeat: no-repeat;
background-position: center; */
}

#listing-form{
  width: 700px;
  height: 400px;
  background: rgba(0, 0, 0, 0.433);
   padding: 2.3rem 0.5rem;
   border-radius: 0.3rem;
   border: 4px solid black;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-wrap: wrap;
}

.input-group-addon {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0.20em 0.10em;
  color: black;
}

.view-listing{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.update-listing{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.create-listing{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
}

 .list-table{
  width: 1000px;
  border: 2px solid black;
  background-color: crimson;
  text-align: center;
 }
/* .list-table thead {
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;

}
.list-table th{
  border: 2px solid black;
  border-collapse: collapse;

}
.list-table tr{
  border: 2px solid black;
  border-collapse: collapse;

}

.list-table td{
  border: 2px solid black;
  overflow: hidden;
  
}  */

.actions{
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* .footer{
  margin-top: auto;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
} */

/* @media screen and (min-width: 600px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
} */
html{
  font-size: 65.5%;
}
.header{
  padding: 0 4.8rem;
  height:8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f5ff;

}

.header{
  position: relative;
}

.header .logo{
  height: 3rem;
}

.navbar-list{
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited{
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  transition : all 0.3s;
}

.navbar-link:hover, .navbar-link:active{
  color:crimson;
}

.mobile-navbar-btn{
  /* display: none; */
  background: transparent;
  cursor : pointer;

}
.mobile-nav-icon{
  width: 4rem;
  height: 4rem;
  color:#212529;
}

.mobile-nav-icon[name="close-outline"]{
  /* display: none; */
}

@media(max-width : 62em){
  .mobile-navbar-btn{
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color:#212529; 
  }
  
  .header .logo{
    width:40%;
  }  

  .navbar{
    /* display:none; */
    width: 100%;
    height: 100vh;
    background-color: #e7f5ff;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
  

  }

  .navbar-list{
    flex-direction: column;
    align-items: center;
  }
  
}
