.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-container{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}
*{
  padding: 0;
  margin : 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height:100vh;
  /* background-image: url(../public/Background-img.jpg); */
  /* background-size:100% 100%; */
  background-size: 100% 100%;
  background-position: center;
  color: white;
  /* font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; */
}

/* test starts */

:root{
  --bg-color : #222327;
  --text-color : #fff;
  --main-color: #29fdb3;
}
/* test ends */

.container{
  height: 100vh;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  align-items:center;
  border: 2px  darkslateblue;
}

.images{
  height: 300px;
  width: 400px;
  padding: 20px;
}

.img{
  width: 100%;
  height: 500px;
  object-fit: cover
}

a:hover{
  color: purple;
}


.HomeContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  justify-content: center;
  color: white;
  gap: 30px;
  
}
.HomeSlider{
  background-color:rgba(255, 240, 245, 0.201);
  color: black;
  /* padding-top: 200px;
  padding-left: 10px; */
  padding:10px;
  /* position: ; */
  border-radius: 10px  ;
  border: 2px solid rgba(128, 128, 128, 0.942);
  
}


.footer{
  text-align: center;
  color: lightgoldenrodyellow;
} 


/* .pagination-container{
  height: 400px;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
 

}

.pagination1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination1 button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: black;
  border-color: #eee;
}

.pagination1 button.active {
  font-weight: 900;
  border-color: #101010;
  background: rgba(128, 128, 128, 0.659);
  color: #101010;
} */
/* react pagination  */
 .pagination-react{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap:5px;
 }
 .pagination-react .page-num{
 padding: 8px 15px;
 cursor: pointer;
 border-radius: 3px;
 font-weight: 400;
 }

 .pagination-react .page-num:hover{
  background-color: black;
  color:white;

 }

 .pagination-react .active{
  background-color: #873e23;
  color: white;
 }

 .pagination-react a{
  color:black;
 }

/* --------------- */



#listing-form{
  width: 700px;
  height: 400px;
  background: rgba(0, 0, 0, 0.433);
   padding: 2.3rem 0.5rem;
   border-radius: 0.3rem;
   border: 4px solid black;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-wrap: wrap;
}

.input-group-addon {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0.20em 0.10em;
  color: black;
}

.view-listing{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.update-listing{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.create-listing{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
}

 /* .list-table{
  width: 1000px;
  border: 2px solid black;
  background-color: crimson;
  text-align: center;
 } */

.actions{
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* .footer{
  margin-top: auto;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
} */

/* @media screen and (min-width: 600px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
} */
html{
  font-size: 65.5%;
}






/* Image Section */

.container{
  /* margin: 0px;
  padding: 0px;
  box-sizing: border-box; */
  width: 100%;
  /* min-height: 1vh; */
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #f7f7f785;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 140px;
  gap:40px;
}

.content-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.content-section .card{
flex: 1 1 21rem;
flex-wrap: wrap;
align-items: center;
background: #fff;
margin: 20px 20px;
flex-direction: column;
box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
transition: 1s;
padding: 4px 10px;
align-self: normal;
}

.content-section .card img{
  /* display: block; */
  width: 100%;
  height: auto; 
  border-radius: 5px;
}
.card:hover{
transform: scale(1.12);
z-index: 2;
}

.content-section .card b{
  margin: 15px 0px;
  font-size: 1.3rem;
  color: #1662a1;
  font-family: sans-serif;

}
.content-section .card a{
  display: inline-block;
  margin-top: auto;
  background: green;
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 10px;
  margin-bottom: 20px;
  font-family: sans-serif;

}

@media screen and (max-width:768px){
  .content-section{
    flex-direction: column;
  }
}

 
@media screen and (width <600px){
  .HomeContainer{
    height: 100rem;
  }
  .HomeContainer .HomeSlider{
    width: 90%;
    height: 400px;
  }
  .HomeSlider.slider{
    width: 25%;
    height: 200px;
  }
  .main-container{
    height: 110rem;
  }
  .funny-container{
    height: 100rem;
  }
  .container{
    gap: 6rem;
    height: 95rem;
  }
  .container .content-section{
    
      flex-direction: column;
      height :80rem;
  }
  .content-section .card{
    height: 30rem;
    width: 25rem;
  }
  .content-section .card h4{
    font-size: 1rem;
  }
  .content-section .card:hover{
    transform: scale(1.08);
    z-index: 2;
    }

  .pagination-react{
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    font-size: 0.8rem;
  }
  .pagination-react .pagination{
    width: 100%;
    padding-top: 10px;
  }

  /* .create-listing{
    height: 100rem;
  } */
  .create-listing #listing-form{
    height: 500px;
    width: 350px;
  }

  .update-listing #listing-form{
    height: 500px;
    width: 350px;
  }
   /* .view-listing{
    height: 100rem;
   }

  .view-listing .table-container{
    height: 800px;
    width: 350px;
  }
  .table-container .header-fixed{
    height:350px;
    width: 350px;
  }

  .header-fixed table{
    height:150px;
    width: 200px;
  }
   thead,tbody,td,tr{
   width: 600px;
   } */


  

}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
  .view-listing{
    height: 200rem;
   }
    .footer{
    color: purple;
   
   }
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
  
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 30%; 
    padding-top: 10px;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Date of Creation"; }
	td:nth-of-type(2):before { content: "Category"; }
	td:nth-of-type(3):before { content: "Title"; }
	td:nth-of-type(4):before { content: "Img Link"; }
	td:nth-of-type(5):before { content: "Video Url"; }
	td:nth-of-type(6):before { content: "Actions"; }

}